@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

@media screen and (max-width:990px) {
    .container { flex-wrap: wrap;  }
    .item:first-child { flex-basis: 100%; }
  }

.card {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: left;
    border-radius: 1rem;
    margin: 1rem 2rem;
}

.card:hover * {
    color: #8ebddb !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

img {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.card:hover img {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.social {
    color: #BCBCBC;
}

.social:hover {
    color: #858585;
}